 :root {
  --color-white: #fff;
  --color-text: #333;
  --color-btn: #FF9900;
  --color-border: #CACACA;
  --color-active: #E1670E;
  --color-focus: #F7B045;
  --color-dark: #626262;
  --color-black: #000;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratRegular.woff2") format("woff2"),
  url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratSemiBold.woff2") format("woff2"),
  url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratBold.woff2") format("woff2"),
  url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratExtraBold.woff2") format("woff2"),
  url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 360px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
}

/* glob */

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1800px;
  /* overflow: hidden; */  /*пригодилось бы, если бы поле поиска сдвигалось вправо*/
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-offset {
  padding-top: 100px;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-text);
}

/* header */
.header {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  position: relative;
  align-items: center;
  padding: 14px 0;
}

.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 23px;
  overflow-x: hidden;
  transition: outline .2s ease-in-out, background-color .5s ease-in-out;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-text);
  transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-text);
}

.burger::before {
  top: 0;
  transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}

.burger::after {
  bottom: 0;
  transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}

.burger:focus-visible {
  outline: 2px solid var(--color-btn);
  outline-offset: 5px;
}

@media (any-hover:hover) {  /*чтобы ховер не срабатывал на смартфонах и планшетах*/
  .burger:hover::before {
    background-color: var(--color-btn);
  }

  .burger:hover .burger__line {
    background-color: var(--color-btn);
    transform: translateX(5px);
  }

  .burger:hover::after {
    background-color: var(--color-btn);
    transform: translateX(12px);
  }
}

.burger:active .burger__line {
  border: none;
  background-color: var(--color-active);
  transform: translateX(5px);
}

.burger:active::before {
  border: none;
  background-color: var(--color-active);
}

.burger:active::after {
  border: none;
  background-color: var(--color-active);
  transform: translateX(12px);
}

.header__link {
  position: relative;
  display: block;
  margin-right: auto;
  font-size: 0;
  outline: none;
}

.header__link::before {  /*для focus*/
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1px;
  width: 100%;
  outline: 2px solid var(--color-btn);
  outline-offset: 3px;
  transform: scaleX(0);
  transition: transform .2s ease;
}

.header__link:focus::before {
  transform: scaleX(1);
}

.header__nav {
  margin-right: 85px;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text);
  transition: outline .2s ease-in-out, color .2s ease-in-out;
}

.nav__link:focus-visible {
  outline: none;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1px;
  width: 100%;
  outline: 2px solid var(--color-btn);
  outline-offset: 3px;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

.nav__link:focus-visible::before {
  transform: scaleX(1);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-btn);
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

@media (any-hover: hover) {
  .nav__link:hover::after {
    transform: scaleX(1);
  }
}

.nav__link:active {
  color: var(--color-active);
}

.nav__link:active::after {
  transform: scaleX(1);
}

.header__btn {
  position: relative;
  font-size: 0;
  transition: opacity .8s ease;
}

.header__btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1px;
  width: 100%;
  outline: 2px solid var(--color-btn);
  outline-offset: 3px;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

.header__btn:focus-visible {
  outline: none ;
}

.header__btn:focus-visible::before {
  transform: scaleX(1);
}

.header__btn rect,
.header__btn path {
  transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}

.header__btn:hover rect {
  fill: var(--color-btn);
}

.header__btn:hover path {
  stroke: var(--color-btn);
}

.header__btn:active rect{
  fill: var(--color-active);
}

.header__btn:active path {
  stroke: var(--color-active);
}

.header__search-form {      /* поле поиска */
  position: absolute;
  top: 17%;
  right: 0;
  align-items: center;
  padding: 16px 32px;
  padding-right: 18px;
  border-radius: 16px;
  width: 539px;
  z-index: 9;
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
  visibility: hidden;
  transform: translateY(-140%);
  transition: transform .7s ease, visibility .7s ease;
}

.header__input {
  width: 412px;
  margin-right: 14px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  font-weight: 500;
  font-size: 18px;
}

.header__input:focus {
  outline: none;
}

.header__search-btn {
  position: relative;
  margin-top: 6px;
  margin-right: 22px;
  transition: outline .3s ease;
}

.header__search-btn::before {  /*для focus*/
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1px;
  width: 100%;
  outline: 2px solid var(--color-btn);
  outline-offset: 3px;
  transform: scaleX(0);
  transition: transform .2s ease;
}

.header__search-btn:focus::before {
  transform: scaleX(1);
}

.header__search-btn:focus {
  outline: none;
}

.header__btn-off {
  position: relative;
  font-size: 0;
  transition: outline .3s ease;
}

.header__btn-off rect {
  transition: fill .2s ease;
}

.header__btn-off circle {
  transition: stroke .2s ease;
}

.header__btn-off::before {  /*для focus*/
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1px;
  width: 100%;
  outline: 2px solid var(--color-btn);
  outline-offset: 3px;
  transform: scaleX(0);
  transition: transform .2s ease;
}

.header__btn-off:focus-visible::before {
  transform: scaleX(1);
}

.header__btn-off:focus-visible {
  outline: none;
}

.header__btn-off:hover rect {
  fill: var(--color-btn);
}

.header__btn-off:hover circle {
  stroke: var(--color-btn);
}

.header__btn-off:active rect {
  fill: var(--color-active);
}

.header__btn-off:active circle {
  stroke: var(--color-active);
}

.header__btn--active {
  opacity: 0;
  transition: opacity .5s ease;
}

.header__search-form--active {
  visibility: visible;
  transform: none;
}

/* hero */
.hero__container {
  position: relative;
  padding: 100px 80px;
  z-index: 2;
  pointer-events: none;   /* чтобы на мышь реагировал свайпер, он стоит за контейнером*/
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
  pointer-events: auto;
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  pointer-events: auto;
}

.hero__btn {
  padding: 24.5px 36.88px;
  min-width: 280px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  color: var(--color-white);
  background-color: var(--color-btn);
  pointer-events: auto;
  transition: background-color .2s ease-in-out;
}

.hero__btn:focus-visible {
  background-color: var(--color-focus);
  outline: none;
}

@media (any-hover: hover) {
  .hero__btn:hover {
    background-color: var(--color-focus);
  }
}

.hero__btn:active {
  background-color: var(--color-active);
}

/* Для слайдера */

.slider {
  position: relative;
}

.slider__swiper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: inherit;
  width: 100%;
  height: 100%;
}

.slider__wrapper {
  min-height: inherit;
}

.slider__slide_img1 {
  background-image: url("../images/hero-1.png");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__slide_img2 {
  background-image: url("../images/hero-2.png");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__slide_img3 {
  background-image: url("../images/hero-3.png");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  position: relative;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, .2);  /*цвет через rgba, чтобы opacity 1 работал для hover*/
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  outline: 1px solid var(--color-white);
}

.swiper-pagination-bullet-active:hover {
  outline: none;
}

.swiper-pagination-bullet:focus-visible {
  outline: 2px solid var(--color-btn);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white);
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}


/* about */
.about__title {
  margin-bottom: 21px;
  padding-left: 2px;
}

.about__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

.about__special-left {
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 32px;
  width: 50%;
  min-height: 622px;
  background: url("../images/about-1.png") no-repeat center/cover;
}

.about__content-left {
  padding: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.about__descr-left {
  margin: 0;
  margin-right: auto;
  padding-right: 20px;
  max-width: 454px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.about__content-small {
  display: none;
}

.about__btn {
  padding: 17px 32px;
  border: 3px solid var(--color-btn);
  min-width: 175px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  transition: background-color .2s ease-in-out, border .2s ease-in-out;
}

.about__btn:focus-visible {
  background-color: var(--color-focus);
  outline: 3px solid var(--color-focus);
  border: none;
}

@media (any-hover: hover) {
  .about__btn:hover {
    background-color: var(--color-focus);
    border: 3px solid var(--color-focus);
  }
}

.about__btn:active {
  background-color: var(--color-active);
  border: 3px solid var(--color-active);
}

.about__special-right {
  width: 50%;
}

.about__content-right {
  padding-top: 63px;
  padding-right: 100px;
  padding-bottom: 64px;
  padding-left: 299px;
  border: 1px solid var(--color-border);
  min-height: 295px;
}

.about__content-right_top {
  margin-bottom: 32px;
  background: url("../images/about-2.svg") no-repeat 59px center/190px 165px;
}

.about__content-right_bottom {
  background: url("../images/about-3.svg") no-repeat 59px center/190px 165px;
}

.about__title-right {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-text);
}

.about__descr-right {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

/* how */
.how__title {
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 59px;
}

.how__list {
  margin-bottom: 45px;
}

.how__item:not(:last-child) {
  margin-right: 86px;
}

.how__item:nth-child(1) {
  margin-right: 85px;
}

.how__item:nth-child(3) {
  margin-right: 87px;
}

.how__btn {
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text);
  transition: outline .2s ease-in-out, color .2s ease-in-out;
}

.how__btn:focus-visible {
  outline: 2px solid var(--color-btn);
  outline-offset: 3px;
}

.how__btn:active {
  color: var(--color-active);
}

.how__content-left {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 142px;
  width: 758px;
  min-height: 469px;
}

.how__caption {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text);
}

.how__descr {
  margin: 0;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

.how__btn-left {
  margin-right: 32px;
  padding: 20px 38px;
  min-width: 175px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: var(--color-btn);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.how__btn-left:focus-visible {
  background-color: var(--color-focus);
  outline: none;
}

.how__btn-left:active {
  background-color: var(--color-active);
}

.how__btn-right {
  padding: 20px 36px;
  border: 1px solid var(--color-text);
  min-width: 147px;
  color: var(--color-text);
  background-color: var(--color-white);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.how__btn-right:focus-visible {
  background-color: var(--color-dark);
  color: var(--color-white);
  outline: none;
}

@media (any-hover) {
  .how__btn:hover {
    color: var(--color-btn);
  }

  .how__btn-left:hover {
    background-color: var(--color-focus);
  }

  .how__btn-right:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
  }
}

.how__btn-right:active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.how__content-right {
  width: 870px;
  min-height: 469px;
  background: url("../images/how-1.png") no-repeat center 9px/cover;
}

.how__content-right--two {
  width: 870px;
  min-height: 469px;
  background: url("../images/how-2.png") no-repeat center 9px/cover;
}

.how__content-right--three {
  width: 870px;
  min-height: 469px;
  background: url("../images/how-3.png") no-repeat center 9px/cover;
}

.how__content-right--four {
  width: 870px;
  min-height: 469px;
  background: url("../images/how-4.png") no-repeat center 9px/cover;
}

.how__content {    /* for JS */
  display: none;
}

.how__content--active {
  display: flex;
}

.how__btn--active {
  color: var(--color-active);
}

/* faq */
.faq {
  padding-bottom: 100px;
}

.faq__title {
  margin-bottom: 43px;
}

.faq__btn {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 29px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text);
  transition: color .2s ease-in-out;
}

.faq__item:nth-child(2n+1) {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.faq__item:nth-last-child(1) {
  border-bottom: 1px solid var(--color-border);
}

.faq__btn::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-btn);
  transform: scaleX(0);
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

.faq__btn::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-btn);
  transform: scaleX(0);
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

.faq__btn:focus-visible::before {
  transform: scaleX(1);
}

.faq__btn:focus-visible::after {
  transform: scaleX(1);
}

.faq__btn:focus-visible {
  color: var(--color-btn);
  outline: none;
}

.faq__btn path {
  transition: fill .2s ease-in-out;
}

.faq__btn:focus-visible path {
  fill: var(--color-white);
}

.faq__btn ellipse {
  transition: fill .2s ease-in-out;
}

.faq__btn:focus-visible ellipse {
  fill: var(--color-btn);
}

@media (any-hover: hover) {
  .faq__btn:hover::before {
    transform: scaleX(1);
  }

  .faq__btn:hover::after {
    transform: scaleX(1);
  }

  .faq__btn:hover {
    color: var(--color-btn);
  }

  .faq__btn:hover path {
    fill: var(--color-white);
  }

  .faq__btn:hover ellipse {
    fill: var(--color-btn);
  }
}

.faq__btn:active::before {
  background-color: var(--color-text);
  transform: scaleX(1);
}

.faq__btn:active::after  {
  background-color: var(--color-text);
  transform: scaleX(1);
}

.faq__btn:active {
  color: var(--color-text);
}

.faq__btn:active path {
  fill: #ECECEC;
}

.faq__btn:active ellipse {
  fill: var(--color-dark);
}

.faq__btn svg {
  transition: transform .2s ease-in-out;
}

.faq__btn:active svg {
  transform: rotate(45deg);
}

.is-active .faq__btn svg {   /*Для поворота '+'  при открытии аккорд.*/
  transform: rotate(45deg);
}

.ac-text {
  margin: 0;
  margin-bottom: 30px;
  width: 60%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

/* footer */
.footer {
  background-color: #222;
}

.footer__container {
  padding: 50px 0;
}

.footer__left {
  margin-right: auto;
  padding-right: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.footer__link-left {
  display: block;
  margin-bottom: 20px;
  font-size: 0;
}

.footer__list {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: auto;
}

.footer__link-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-border);
  transition: color .2s, outline .2s;
}

.footer__link-item:focus-visible {
  outline: 2px solid var(--color-btn);
  outline-offset: 3px;
}

@media (any-hover) {
  .footer__link-item:hover {
    color: var(--color-btn);
  }
}

.footer__link-item:active {
  color: var(--color-active);
}

.footer__link-social {
  display: block;
  font-size: 0;
  transition: outline .2s;
}

.footer__link-social:not(:last-child) {
  margin-right: 25px;
}

.footer__link-social:focus-visible {
  outline: 2px solid var(--color-btn);
  outline-offset: 4px;
}

.footer__link-social path {
  transition: fill .3s;
}

@media (any-hover: hover) {
  .footer__link-social:hover path {
    fill: var(--color-btn);
  }
}

.footer__link-social:active path {
  fill: var(--color-active);
}

.footer__center {
  margin-right: 236px;
  max-width: 570px;
}

.footer__center-title {
  margin: 0;
  margin-bottom: 25px;
  color: var(--color-border);
}

.footer__input {
  margin-bottom: 25px;
  padding-left: 25px;
  border: none;
  width: 100%;
  height: 60px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border);
  background-color: #414141;
  transition: background-color .3s, outline .3s;
}

.footer__input:focus-visible {
  background-color: var(--color-dark);
  outline: 2px solid var(--color-focus);
  border-radius: 2px;
}

.footer__input:active {
  background-color: var(--color-dark);
}

.footer__textarea {
  margin-bottom: 29px;
  padding-top: 14px;
  padding-left: 25px;
  border: none;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border);
  background-color: #414141;
  transition: background-color .3s, outline .3s;
}

.footer__textarea:focus-visible {
  background-color: var(--color-dark);
  outline: 2px solid var(--color-focus);
  border-radius: 2px;
}

.footer__textarea:active {
  background-color: var(--color-dark);
}

.footer__input-wrapper {
  align-items: center;
}

/* CHECKBOX */
.footer__label {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-border);
  cursor: pointer;
}

.footer__checkbox {
  position: absolute;
  opacity: 0;
}

.footer__checkbox + span {
  margin-left: 19px;
  transition: outline .3s ease, color .3s ease;
}

.footer__checkbox + span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-border);
}

.footer__checkbox + span::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  opacity: 0;
  background-image: url("../images/footer-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.footer__checkbox:checked + span::after {
  opacity: 1;
}

.footer__checkbox:hover + span {
  color: #eec9b0;
}

.footer__checkbox:focus-visible + span {
  border-radius: 1px;
  outline: 1px solid var(--color-btn);
  outline-offset: 2px;
  transition: outline .3s ease;
}   /* END CHECKBOX */

.footer__btn {
  margin-right: 22px;
  padding: 19px 52px;
  min-width: 269px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: var(--color-btn);
  transition: background-color .3s;
}

.footer__btn:focus-visible {
  background-color: var(--color-focus);
  outline: none;
}

.footer__btn:active {
  background-color: var(--color-active);
}

.footer__right {
  padding-top: 72px;
  width: 363px;
}

.footer__right-descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border);
}

@media (any-hover: hover) {
  .footer__input:hover {
    background-color: var(--color-dark);
  }

  .footer__textarea:hover {
    background-color: var(--color-dark);
  }

  .footer__btn:hover {
    background-color: var(--color-focus);
  }
}
